@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700;800;900&display=swap');

html {
   height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100%;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

//separator
.separator {
  width: 100%;
  border-top: 1px solid #eee;
}

// Buttons
button {
  display: inline-block;
  border: 0;
  cursor: pointer;
  font-weight: 500;
  background-color: transparent;
  color: black;
  font-family: 'Inter', sans-serif;

  &:focus {
    outline: 0;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;

  &:hover {
    text-decoration: none;
    outline-width: 0;
  }

  &:active {
    outline-width: 0;
  }
}

h1 {
  font-size: 1.5em;
}

form {
  width: 100%;
  max-width: 420px;
}

legend {
  margin-bottom: 1.5rem;
  font-size: 1.8rem; 
}

fieldset {
  *:not(:first-child) {
  margin-bottom: 0.8rem;
  }

  *:last-child {
  margin-bottom: 0rem;
  }
}

label {
font-size: 1rem;
@extend .flex;
@extend .flex-col;

 *:not(:last-child) {
   margin-bottom: 0.3rem;

 }
}

input {
  border:0;
  background-color: #eee;
  height: 2rem;
  padding: 0rem 0.4rem;
  font-family: 'Inter', sans-serif;
  &:focus { 
    outline: none;
  }
}