.container {
  &--link {
    @extend .container;
    max-width: 714px;
  }
  
  max-width: 1536px;
  padding: $padding-md $space-md;
  margin: 0 auto;
}


.header-wrapper{
background-color: #f5f5f5;
  header {
    height: 4rem;
  }
  .logo {
    font-weight: 600;
  }
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
  
  &-jc-c {
  justify-content: center;
  }
  
  &-jc-e {
  justify-content: flex-end;
    
  }

  &-ai-fe {
  align-items: flex-end;
  }
  
  &-ai-c {
   align-items: center;
  }

  &-col {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }
}

.flex-ai-c-jc-c {
  @extend .flex;
  @extend .flex-jc-c;
  @extend .flex-ai-c ;
}


// centering to viewport height
.center-vph {
  min-height: 100vh;
  &-w-header{
    min-height: calc(100vh - 4rem); // deducting the height of header
    @extend .flex-ai-c-jc-c;
  }

  @extend .flex-ai-c-jc-c;
}

.form-content{
  @extend .flex-ai-c-jc-c;
  @extend .flex-col;
}

.error {
  color: #a94442;
  font-size: 12px;
  font-weight: bold;
}
.feedback {
  color: #3b5998;
  font-size: 12px;
  font-weight: bold;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

::-webkit-resizer{  	
  visibility: hidden;
}