.login-content {
  @extend .flex-ai-c-jc-c;
  @extend .flex-col;
  
  h1 {
    margin-bottom: 0.5rem;
  }

  .auth-switcher {
  margin-top: 1rem;
  }

  .or {
    margin: 0.5rem 0rem;
  }

  .error {
    color: #a94442;
    font-size: 12px;
    font-weight: bold;
  }

}