.link-section-wrapper {
  display: flex;
  min-height: calc(100vh - 4rem); // deducting the height of header

  .form-section {
    padding: $space-xl 0;
    flex-grow: 1;
    margin-right: 2rem;

  }

  .link-section-heading {
    margin-bottom: 2rem;
  }


  .preview-section {
    background-color: $cool-gray;
    padding: 4rem;
    height: inherit;
  }
}

.preview-image {
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}

.preview-placeholder {
  width: 60px;
  height:60px;
  background-color: #ccc;
  border-radius: 100%;
  @extend .flex-ai-c-jc-c;
  @extend .flex-col;
}