.homepage {
  @extend .border-t;
  padding-top: 80px;
  
  &__content {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  @extend .flex;
  @extend .flex-col;
  @include min-break-point(tablet) {
  width: 70%;
  }

  .form {
    width: 70%;
    margin: 0 auto;
  }

  legend {
    font-weight: 800;
    font-size: 32px;
    margin: 0 auto;
    margin-bottom: $space-md;
    line-height: 40px;
  }

  .input-wrapper {
    margin-right: $space-lg;
    

    .goto-icon {
      position: absolute;
      right: 15px;
      top: 15px;

      svg {
        visibility: hidden;
 
        rect {
          fill: #9CA3AF;
        }

        &:hover {
          rect {
          fill: #1EAAB4;
        }
        }

        &.show {
          visibility: visible;
        }
      }
    }
  }

  button {
    svg {
      width: 16px;
      height: 16px;
      path {
        transition: fill 0.3s ease;
        fill: $white;
      }
    }

    &:hover svg {
      path {
        fill: $black;
      }
    }
  }

  }
  .form-input__create-link {
    font-size: 20px;
    line-height: 24px;
    @extend .indent-text-for-domain;
  }
}


.edit_link {
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 20px;
  line-height: 24px;

  &.smaller {
  font-size: 16px;
  line-height: 24px;
  }

  span {
    color: #1EAAB4;
    font-weight: $font-weight-bolder;
  }
}
